[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/React-in-Django-Templates
ExecStart=/home/ubuntu/React-in-Django-Templates/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          pera_marin.wsgi:application
[Install]
WantedBy=multi-user.target
