{% extends "base.html" %}
{% block title %} Pera Marin {% endblock %}
{% block desc %}
Pera Marin is an electrical company that has adopted perfectionism as a principle since the day it was founded and continues its operations on the basis of 'Absolute Customer Satisfaction'.
{% endblock %}
{% block content %}

  <main class="relative min-h-screen flex items-center justify-center overflow-hidden">
    <video
      autoplay
      loop
      muted
      playsinline
      preload="auto"
      class="absolute inset-0 object-cover min-h-full min-w-full"
    >
      <source src="/media/ship.mp4" type="video/mp4" />
      <p>Your browser does not support the video tag.</p>
    </video>
  </main>


{% endblock %}
